<form [formGroup]="form">

    <mat-card>
        <mat-card-content class="form-container">

            <div class="flex-row">
                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name"/>
                    @if(form.get('name')?.invalid) {
                        <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startPicker" formControlName="start_date" placeholder="Start date">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                    @if(form.get('start_date')?.invalid) {
                        <mat-error>Start date is invalid</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endPicker" formControlName="end_date" placeholder="End date">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    @if(form.get('end_date')?.invalid) {
                        <mat-error>End date is invalid</mat-error>
                    }
                </mat-form-field>  
            </div>

            <div class="flex-row">
                <mat-form-field appearance="outline" class="flex-field-1-2">
                    <mat-label>Team</mat-label>
                    <mat-select formControlName="team_id">
                        <mat-select-trigger>
                            @if (form.controls['team_id'].value; as id) {
                                <span class="selected-team">
                                    {{ teamsMap[id]?.name }}
                                </span>
                            }
                        </mat-select-trigger>
                        @for (team of teams; track team.id) {
                            <mat-option [value]="team.id">
                                <mat-chip class="team-chip" [style.background-color]="team.color" [ngStyle]="{
                                    'color': getContrastColor(team.color),
                                    'background-color': team.color
                                }"> {{ team.name }} </mat-chip>
                                <span> {{ team.longname }} </span>
                            </mat-option>                    
                        }
                    </mat-select>
                    @if(form.get('team_id')?.invalid) {
                        <mat-error>Team is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Person</mat-label>
                    <mat-select formControlName="person_id">
                        @for (person of persons; track person.id) {
                            <mat-option [value]="person.id">
                                {{ person.firstname }} {{ person.lastname }}
                            </mat-option>
                        }
                    </mat-select>
                    
                    @if(form.get('person_id')?.invalid) {
                        <mat-error>Person is required</mat-error>
                    }
                </mat-form-field>
            </div>

        </mat-card-content>
    </mat-card>

</form>