:host {
  display: block;
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100%;
  min-height: 400px;
  width: 100%;
  
  /* Changed selector: strictly targets images inside .map-container */
  ::ng-deep img {
    max-width: none !important;
    max-height: none !important;
  }
}